<footer class="py-5 text-center text-body-secondary bg-black">
    <p class="text-light">Build with 
        <a class="link-secondary" href="https://getbootstrap.com/">Bootstrap</a>
         by 
        <a class="link-secondary" href="https://twitter.com">Los front son mejores que los back xdddd</a>.
    </p>
    <p class="mb-0">
      <a class="link-secondary" href="#">Volver al comienzo</a>
        <div class="vr"></div>
      <a class="link-secondary" href="#">¿Necesitas ayuda?</a>
    </p>
</footer>