<section class="container-fluid py-3">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary spy_family__promotion--large2">
        <div class="col-lg-6 px-0 text-light">
          <h1 class="display-4 fst-italic">Nueva edición de Spy Family</h1>
          <p class="lead my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam qui fugit corporis totam sit, rerum tenetur adipisci provident neque, illum consequatur, ab sunt! Maiores ex repellendus hic, iste omnis inventore.</p>
          <p class="lead mb-0"><a href="#" class="text-secondary fw-bold">Ver ahora...</a></p>
        </div>
    </div>
</section>