<header class="lh-1">
    <div class="row flex-nowrap justify-content-between align-items-center border-bottom border-secondary py-3">
        <div class="col d-grid gap-2 d-md-flex justify-content-md-start">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-sm btn-outline-secondary">Ayuda</button>   
            </div>
        </div>
        <div class="col">
            <h1 class="text-bg-dark text-center">MangaASD</h1>
        </div>
        <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="btn-group" role="group">
                <a href="/templates/auth/login.html" class="btn btn-sm btn-outline-secondary">Iniciar Sesion</a>
                <a href="/templates/auth/register.html" class="btn btn-sm btn-outline-secondary">Registrarme</a>
            </div>
        </div>
    </div>
    <div class="row flex-nowrap justify-content-center align-items-center border-bottom border-secondary">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-light" href="#">Nuevos</a>
            <a class="nav-item nav-link link-light" href="#">Mas populares</a>
            <a class="nav-item nav-link link-light" href="#">Nekketsu</a>
            <a class="nav-item nav-link link-light" href="#">Spokon</a>
            <a class="nav-item nav-link link-light" href="#">Gekiga</a>
            <a class="nav-item nav-link link-light" href="#">Yuri</a>
            <a class="nav-item nav-link link-light" href="#">Yaoi</a>
            <a class="nav-item nav-link link-light" href="#">Harem</a>
            <a class="nav-item nav-link link-light" href="#">Mecha</a>
            <a class="nav-item nav-link link-light" href="#">Ecchi</a>
            <a class="nav-item nav-link link-light" href="#">Gore</a>
        </nav>
    </div>
</header>