<section class="container">
    <div class="py-4 text-light">
        <h2>Mas populares</h2>
        <!-- CONTENEDOR DE CARTAS -->
        <div class="row">
            <div class="col">
                <div class="row row-cols-2">
                   <!-- CARTAS AUTOGENERADAS -->
                    <div class="col px-4 pb-5">
                        <div class="card--sm border shadow rounded-3 d-flex flex-row">
                            <img class="rounded-start-3" src="https://a.storyblok.com/f/178900/538x760/66210542c4/spy-x-family-art-book-cover.jpg/m/filters:quality(95)format(webp)" alt="">
                            <div class="card__desc-sm col p-3">
                                <h5>Spy Family Edición 34</h5>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ad officia officiis odio eum veniam optio laboriosam quos ex dolorum, perferendis, aspernatur a atque vitae laudantium! Deleniti, vitae corrupti labore commodi iste, aspernatur ex eius ipsam voluptate nesciunt delectus consequatur! Earum atque nobis eligendi accusamus dicta, temporibus quos dolorem ea.</p>
                                <div class="row">
                                    <div class="col-8">
                                        <h6><strong>Unidades dispobles</strong></h6>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-sm btn-danger">Alquilar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                </div>
            </div>
        </div>
    </div>
</section>