{% import 'bootstrap/wtf.html' as wtf %} {% block content %} {% for mensaje in
get_flashed_messages() %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">
    &times;
  </button>
  {{ mensaje }}
</div>
{% endfor %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Manga ASD</title>
    <!-- BOOTSTRAP CDN STYLES-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- BOOTSTRAP CDN ICONS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- CUSTOM CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link rel="stylesheet" href="app/templates/styles.css" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
  </head>
  <body class="bg-dark">
    <div class="container">
      <header class="lh-1">
        <div
          class="row flex-nowrap justify-content-between align-items-center border-bottom border-secondary py-3"
        >
          <div class="col d-grid gap-2 d-md-flex justify-content-md-start">
            <nav class="nav nav-underline justify-content-center">
              <ul class="nav nav-pills flex-row justify-content-around">
                <li>
                  <div class="btn-group btn-group-sm me-2">
                    <a
                      href="/mangas/listar"
                      class="btn btn-outline-secondary text-start"
                      style="min-width: 7rem;"
                    >
                      Mangas
                    </a>
                    <a
                      href="/mangas/create"
                      class="btn btn-outline-secondary text-center"
                    >
                      <i class="bi bi-plus-lg"></i>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="btn-group btn-group-sm me-5">
                    <a
                      href="/usuarios/listar"
                      class="btn btn-outline-secondary text-start"
                      style="min-width: 7rem;"
                    >
                      Usuarios
                    </a>
                    <a
                      href="/usuarios/create"
                      class="btn btn-outline-secondary text-center"
                    >
                      <i class="bi bi-plus-lg"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col align-center d-flex justify-content-center py-3">
            <img
              src="{{ url_for('static', filename='img/MangaASD - Logo.svg') }}"
              style="width: 15rem;"
            />
            <!-- <h1 class="text-bg-dark text-center" style="font-weight: 700;">MangaASD</h1> -->
          </div>  
          <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic outlined example"
            >
              <a href="/" class="btn btn-sm btn-outline-secondary">Volver</a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <main class="container py-5" style="height: 100vh;">
      <section class="text-light row">
        <div class="col">
          <div class="d-flex justify-content-between mb-3">
            <h2>Lista de prestamos registrados</h2>
            <div class="btn-group btn-group-sm">
              <a
                href="/prestamos/create"
                class="btn btn-secondary text-start mb-3"
                style="min-width: 7rem;"
              >
                Registrar prestamo
              </a>
            </div>
          </div>
          <div class="container row align-content-between p-4 border border-secondary rounded-3">
            <table class="table table-dark table-hover">
              <thead class="table-active">
                <tr>
                  <th scope="col">ID Usuario</th>
                  <th scope="col">ID Manga</th>
                  <th scope="col">Fecha Préstamo</th>
                  <th scope="col">Fecha de Regreso</th>
                  <th scope="col">Actualizar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>

              <tbody>
                {% for prestamo in prestamos %}
                <tr>
                  <td>
                    {{prestamo.user_id}}
                  </td>
                  <td>
                    {{prestamo.manga_id}}
                  </td>
                  <td>
                    {{prestamo.loan_date}}
                  </td>
                  <td>
                    {{prestamo.return_date}}
                  </td>
                  <td>
                    <a
                      href="/prestamos/update/{{prestamo.id}}"
                      class="btn btn-primary"
                    >
                      Editar
                    </a>
                  </td>
                  <td>
                    <a
                      href="/prestamos/delete/{{prestamo.id}}"
                      class="btn btn-danger"
                    >
                      Eliminar
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>

    {% include '/components/footer.html' %}

    <!-- BOOTSTRAP JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
{% endblock %}
