<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manga ASD</title>
    <!-- BOOTSTRAP CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> <link rel="stylesheet" href="app/templates/styles.css">
  </head>
  <body class="bg-dark">
    <main class="container-lg">
        <header class="lh-sm">
            <section class="p-3 hstack gap-3 flex-nowrap justify-content-between align-items-center border-bottom border-secondary">
                <section class="d-flex justify-content-center py-3">
                    <img src="{{ url_for('static', filename='img/MangaASD - Logo.svg') }}" style="width: 10rem;">
                </section>
                <section class="d-grid gap-2 ms-auto d-md-flex justify-content-md-end">
                    {% if current_user.is_authenticated %}
                    <!-- CONTENEDOR INFO USUARIO -->
                    <div class="text-light p-0 d-grid justify-content-end" style="min-width: 25rem; ">
                        <div class="row m-0 p-0">
                            <!-- SECCION DE INFORMACION -->
                            <div class="col-8 d-flex flex-column justify-content-end align-items-end">
                                <!-- NOMBRE DEUSUARIO -->
                                <p class="text-light p-1 m-0 fw-bold fs-5">{{current_user.username}}</p>
                                <!-- ROL DE USUARIO -->
                                {% if current_user.rol == 1 %}
                                    <p class="p-0 m-1 align-middle">Cliente</p>
                                {% elif current_user.rol == 2 %}
                                    <p class="p-0 m-0 fw-lighter align-middle">Publicador</p>
                                {% endif %}
                            </div>   
                            <!-- SECCION DE FOTO -->
                            <div class="col-4 m-0 p-0 d-flex align-items-center justify-content-center">
                                <img src="https://www.verywellmind.com/thmb/pwEmuUJ6KO9OF8jeiQCDyKnaVQI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1187609003-73c8baf32a6a46a6b84fe931e0c51e7e.jpg" width="50" height="50" class="object-fit-cover bg-secondary-subtle" style="border-radius: 50%;" alt="Foto de perfil de usuario">
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="btn-group" role="group">
                        <a href="auth/login" class="btn btn-sm btn-outline-secondary">Iniciar Sesion</a>
                        <a href="usuarios/create" class="btn btn-sm btn-outline-secondary">Registrarme</a>
                    </div>
                    {% endif %}
                </section>
                <div class="vr text-light"></div>
                <section class="">
                    {% if current_user.is_authenticated %}
                        <a href="/auth/logout" class="btn btn-secondary">Salir <i class="bi bi-box-arrow-right ms-2"></i></a>
                    {% endif %}
                </section>
            </section>
            <div class="row flex-nowrap justify-content-center align-items-center border-bottom border-secondary">
                <nav class="nav nav-underline justify-content-around">
                    <a class="nav-item nav-link link-light" href="#">Nuevos</a>
                    <a class="nav-item nav-link link-light" href="#">Mas populares</a>
                    <a class="nav-item nav-link link-light" href="#">Nekketsu</a>
                    <a class="nav-item nav-link link-light" href="#">Spokon</a>
                    <a class="nav-item nav-link link-light" href="#">Gekiga</a>
                    <a class="nav-item nav-link link-light" href="#">Yuri</a>
                    <a class="nav-item nav-link link-light" href="#">Yaoi</a>
                    <a class="nav-item nav-link link-light" href="#">Harem</a>
                    <a class="nav-item nav-link link-light" href="#">Mecha</a>
                    <a class="nav-item nav-link link-light" href="#">Ecchi</a>
                    <a class="nav-item nav-link link-light" href="#">Gore</a>
                </nav>
            </div>
        </header>
        
        <section class="container-fluid py-3">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>   
                  
                </div>
                <div class="carousel-inner rounded-3">
                    <div class="carousel-item active rounded-3">
                        <img src="https://www.ungeek.ph/wp-content/uploads/2022/04/spy_x_family_where_to-watch_online.jpg" class="d-block w-100 object-fit-cover rounded-3 carrousel__brightness--50" style="height: 30rem;">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Nueva edición de Spy X Family</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                        {% if current_user.is_authenticated %}
                            <a href="/" class="btn btn-secondary">Alquilar</a>
                        {% endif %}
                        </div>
                    </div>
                    {% for manga in mangas %}
                        <div class="carousel-item bg-black rounded-3">
                            <img src="mangas/images/{{ manga.image_path }}" class="d-block w-100 object-fit-contain rounded-3 carrousel__brightness--50" style="height: 30rem;">
                            <div class="carousel-caption d-none d-md-block rounded-3">
                            <h5>Nueva edición de {{ manga.title }}</h5>
                            <p>{{ manga.description }}</p>
                                {% if current_user.is_authenticated %}
                                    <a href="/" class="btn btn-secondary">Alquilar</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>

        <main class="container-fluid">
            <section class="container">
                <div class="py-4 text-light">
                    <h2 class="mb-3">Catalogo de mangas</h2>
                    <!-- CONTENEDOR DE CARTAS -->
                    <div class="row">
                        <div class="col">
                            <div class="row row-cols-lg-2 row-cols-sm-1">
                                {% for manga in mangas %}
                                    {% if manga.status != 'Alquilado' %}
                                    
                                        <!-- CARTAS AUTOGENERADAS -->
                                        <div class="col pb-5">
                                            <div class="card--sm border border-secondary shadow rounded-3 d-flex flex-row">
                                                <img class="rounded-start-3" src="mangas/images/{{ manga.image_path }}" alt="">
                                                <div class="card__desc-sm col p-3">
                                                    <h5>{{ manga.title }}</h5>
                                                    <p>{{ manga.description }}</p>
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <h6><strong>Unidad {{ manga.status }}</strong></h6>
                                                        </div>
                                                        <!-- CONDICIONAR EL BOTON -->
                                                        {% if current_user.is_authenticated %}
                                                        <div class="col-4">
                                                            <a href="/prestamos/create"><button class="btn btn-sm btn-danger">Alquilar</button></a>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </main>
    <footer class="py-5 text-center text-body-secondary bg-black">
        <p class="text-light">Build with 
            <a class="link-secondary" href="https://getbootstrap.com/">Bootstrap</a>
             by 
            <a class="link-secondary" href="https://twitter.com">Andres Cordoba</a>.
        </p>
        <p class="mb-0">
          <a class="link-secondary" href="#">Back to top</a>
        </p>
      </footer>
    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>