<nav class="nav navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ current_user.username}}
            </div>
        </div>
        <ul class="nav navbar-nav">
    
                <li>
                        <a href="/mangas/listar">
                            Mangas
                        </a>

                </li>

                <li>
                    <a href="/prestamos/listar">
                        Préstamos
                    </a>
                
                </li>
     
                <li>
                        <a href="/usuarios/listar">
                            Usuarios
                        </a>

                </li>
                <li>
                    {% if current_user.is_authenticated %}
                    <a href="/auth/logout">
                        Cerrar sesion
                    </a>
                    {% else %}
                    <a href="/auth/login">
                        Login
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>